/* Gradient background */
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: 'Segoe UI', sans-serif;
  background-image: url('../IMG/background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Container box */
.login-box {
   background: rgba(0, 0, 0, 0.389); /* gelap kabur */
  backdrop-filter: blur(3px);
  padding: 30px; /* kurang sikit */
  width: 320px;  /* tambahkan ni untuk kawal lebar */
  border-radius: 20px;
  text-align: center;
}




.login-box h2 {
  margin-bottom: 20px;
  color: white;
}

/* Input field */
.login-box input[type="text"],
.login-box input[type="password"] {
  width: 100%;
  margin-bottom: 24px; /* Tambah spacing */
  padding: 12px 15px;
  border: 1px solid #0bf3ff;
  border-radius: 8px;
  background-color: #ffffff;
  outline: none;
  box-sizing: border-box; /* <-- Ini penting */

}

/* Remember & forgot password */
.options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.9em;
  margin-bottom: 20px;
  color: #ffffff;
}

.options a {
  color: #10dbff;
  text-decoration: none;
}

/* Login button */
.login-box button {
  width: 100%;
  padding: 12px;
  background-color: #4dbeff;
  border: none;
  border-radius: 8px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s;
}

.login-box button:hover {
  background-color: #1a45df;
}

/* Create account */
.signup-text {
  margin-top: 15px;
  font-size: 0.9em;
  color : white;
}

.signup-text a {
  color: #07a4ff;
  text-decoration: none;
}
